<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.its.dao.IDemoDao">

	<select id="findObjectsByMap"  resultType="map" >
		select * from t_demo_model
		<where>
			<if test="id != null and id != ''">
				and id =#{id}
			</if>
			<if test="name != null and name != ''">
				and name like '%'||#{name}||'%'
			</if>
			<if test="mail != null and mail != ''">
				and mail like '%'||#{mail}||'%'
			</if>
		</where>
	</select>

	<select id="findObjects"  parameterType="com.example.its.bean.model.DemoModel" resultType="com.example.its.bean.vo.DemoVO">
		select id, name, mail from t_demo_model
		<where>
			<if test="id != null and id != ''">
				and id =#{id}
			</if>
			<if test="name != null and name != ''">
				and name like '%'||#{name}||'%'
			</if>
			<if test="mail != null and mail != ''">
				and mail like '%'||#{mail}||'%'
			</if>
		</where>
	</select>

	<select id="findObject" resultType="com.example.its.bean.vo.DemoVO">
		select id, name, mail from t_demo_model
		<where>
			<if test="id != null and id != ''">
				and id =#{id}
			</if>
			<if test="name != null and name != ''">
				and name like '%'||#{name}||'%'
			</if>
		</where>
	</select>

	<insert id="saveObject" parameterType="com.example.its.bean.model.DemoModel">
		insert into t_demo_model(id,name,mail) values(#{sys_uuid},#{name},#{mail})
	</insert>

	<insert id="updateObject" parameterType="com.example.its.bean.model.DemoModel">
		update t_demo_model set name=#{name},mail=#{mail} where id=#{id}
	</insert>

</mapper>